@model IEnumerable<EminAutoPrime.Models.Kampanya>
@{
    ViewData["Title"] = "Home Page";
}
<!-- Carousel Start -->
<div class="header-carousel owl-carousel">
    @if (Model != null && Model.Any())
    {
        @foreach (var kampanya in Model)
        {
            <div class="header-carousel-item">
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(kampanya.GorselVerisi)" class="img-fluid w-100" alt="Kampanya Görseli">
                <div class="carousel-caption text-center d-flex flex-column align-items-center justify-content-center">
                    <h1 class="display-4 text-uppercase text-white mb-4">@kampanya.KampanyaBasligi</h1>                    
                    <a class="btn btn-light rounded-pill py-3 px-4" href="@Url.Action("Details", "Kampanya", new { id = kampanya.KampanyaID })">Detaylar</a>
                </div>
            </div>
        }
    }
    else
    {
        <div class="header-carousel-item">
            <img src="~/img/carousel-1.png" class="img-fluid w-100" alt="Varsayılan Görsel">            
        </div>
    }
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <h4 class="text-primary">About Us</h4>
        <h1 class="display-5 mb-4">Meet our company</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</div>
<!-- About End -->
<!-- Services Start -->
<div class="container-fluid service pb-5">
    <div class="container pb-5">
        <h4 class="text-primary">Our Services</h4>
        <h1 class="display-5 mb-4">We provide the best services</h1>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <img src="~/img/service-1.jpg" class="img-fluid rounded-top w-100" alt="Image">
                    <a class="h4 d-inline-block mb-4"> Strategy Consulting</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
