/* site.css */

/* Genel Arka Plan ve Yazý Renkleri */
body {
    background-color: #FFEB3B; /* Sarý arka plan */
    color: #000; /* Siyah yazý rengi */
    font-family: 'Arial', sans-serif;
}

/* Navbar Stilleri */
.navbar {
    background-color: #FFEB3B; /* Sarý arka plan */
}

    .navbar .navbar-brand {
        color: #000;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .navbar .nav-link {
        color: #000; /* Siyah yazý rengi */
        font-weight: bold;
        margin-right: 1rem;
    }

        .navbar .nav-link:hover {
            color: #FFEB3B;
            background-color: #000; /* Siyah arka plan */
            border-radius: 5px;
            padding: 5px 10px;
        }

/* Footer Stilleri */
footer {
    background-color: #000;
    color: #FFEB3B;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}
